{% extends 'core/base.html' %}
{% load static %}
{% block title %}About Us | Woodridge Senior School{% endblock title %}
{% block content %}
<!-- About Start -->
<div class="container-fluid bg-secondary p-0" id="about-us">
    <div class="row g-0">
        <div class="col-lg-6 py-6 px-5">
            <h1 class="display-5 mb-4">Welcome To <span id="blue-color">Woodridge</span></h1>
            <h4 class="mb-4" id="blue-color">We are a school that is situated along the Nyeri-Nyahururu highway.</h4>
            <p class="mb-4">It's a CBC compliant and fully registered junior secondary school. Has well equipped science laboratories and library. Extra curriculum activities are fully supported and we boast of a very conducive learning environment.</p>
            <a href="{% url 'core:admissions' %}" class="btn btn-primary py-md-3 px-md-5 rounded-pill">Apply Today</a>
        </div>
        <div class="col-lg-6">
            <div class="h-100 d-flex flex-column justify-content-center p-5" id="mainbg">
                <div class="d-flex text-white mb-5">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white text-primary rounded-circle mx-auto mb-4" style="width: 60px; height: 60px;">
                        <i class="fa fa-user-tie fs-4" id="blue-color"></i>
                    </div>
                    <div class="ps-4">
                        <h3 id="text-light">Academic Excellence</h3>
                        <p class="mb-0">Our students exceed previous expectations of what they can achieve academically, whatever their starting point.</p>
                    </div>
                </div>
                <div class="d-flex text-white mb-5">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white text-primary rounded-circle mx-auto mb-4" style="width: 60px; height: 60px;">
                        <i class="fa fa-chart-line fs-4" id="blue-color"></i>
                    </div>
                    <div class="ps-4">
                        <h3 id="text-light">Skills Development</h3>
                        <p class="mb-0">Our students understand, develop and model the skills and attributes required for a rewarding and satisfying career.</p>
                    </div>
                </div>
                <div class="d-flex text-white">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white text-primary rounded-circle mx-auto mb-4" style="width: 60px; height: 60px;">
                        <i class="fa fa-balance-scale fs-4" id="blue-color"></i>
                    </div>
                    <div class="ps-4">
                        <h3 id="text-light">Confidence</h3>
                        <p class="mb-0">Our students are confident in their heritage, self worth, unique voice and ability to make a positive difference in the world.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

<!-- Services Start -->
<div class="container-fluid pt-6 px-5">
    <div class="text-center mx-auto mb-5" style="max-width: 600px;">
        <h1 class="display-5 mb-0">What We Offer</h1>
        <hr class="w-25 mx-auto bg-primary">
    </div>
    <div class="row g-5">
        <div class="col-lg-4 col-md-6">
            <div class="service-item bg-secondary text-center px-5">
                <div class="d-flex align-items-center justify-content-center text-white rounded-circle mx-auto mb-4" style="width: 90px; height: 90px;">
                    <i class="fa fa-user-tie fa-2x" id="maroon-color"></i>
                </div>
                <h3 class="mb-3">Excellent Performance</h3>
                <p class="mb-0">By our way of doing things, your student is set on an upward trend on their performance.</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="service-item bg-secondary text-center px-5">
                <div class="d-flex align-items-center justify-content-center text-white rounded-circle mx-auto mb-4" style="width: 90px; height: 90px;">
                    <i class="fa fa-chart-pie fa-2x" id="blue-color"></i>
                </div>
                <h3 class="mb-3">Extracurricular Skills</h3>
                <p class="mb-0">At Woodridge, we embrace extra-curricular activities and have lots of tools to ensure that our students can put their skills into test.</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="service-item bg-secondary text-center px-5">
                <div class="d-flex align-items-center justify-content-center text-white rounded-circle mx-auto mb-4" style="width: 90px; height: 90px;">
                    <i class="fa fa-chart-line fa-2x" id="maroon-color"></i>
                </div>
                <h3 class="mb-3">Ready for Work</h3>
                <p class="mb-0">Our students get to learn the importance of hard work and the fruits of this important key to success.</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="service-item bg-secondary text-center px-5">
                <div class="d-flex align-items-center justify-content-center text-white rounded-circle mx-auto mb-4" style="width: 90px; height: 90px;">
                    <i class="fa fa-chart-area fa-2x" id="maroon-color"></i>
                </div>
                <h3 class="mb-3">Confidence</h3>
                <p class="mb-0">Our students are taught to be confident in their own ideas and how to stand for themselves.</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="service-item bg-secondary text-center px-5">
                <div class="d-flex align-items-center justify-content-center text-white rounded-circle mx-auto mb-4" style="width: 90px; height: 90px;">
                    <i class="fa fa-balance-scale fa-2x" id="blue-color"></i>
                </div>
                <h3 class="mb-3">Warm Relationships</h3>
                <p class="mb-0">At Woodridge, we always ensure we maintain a good and warm relationship with our students so as to ensure smoothness in the running of the school.</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="service-item bg-secondary text-center px-5">
                <div class="d-flex align-items-center justify-content-center text-white rounded-circle mx-auto mb-4" style="width: 90px; height: 90px;">
                    <i class="fa fa-house-damage fa-2x" id="maroon-color"></i>
                </div>
                <h3 class="mb-3">Succcessful Future</h3>
                <p class="mb-0">The skills that out learners develop prepare them for a successful transition towards their careers.</p>
            </div>
        </div>
    </div>
</div>
<!-- Services End -->

<!-- Our Promise Start -->
<div class="container-fluid py-6 px-5">
    <div class="text-center mx-auto mb-5" style="max-width: 600px;">
        <h1 class="display-5 mb-0">Our Promise</h1>
        <hr class="w-25 mx-auto bg-primary">
    </div>
    <div class="row g-5">
        <div class="col-lg-4">
            <div class="row g-5">
                <div class="col-12">
                    <div class="rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;" id="mainbg">
                        <i class="fa fa-cubes fs-4 text-white"></i>
                    </div>
                    <h3>Confident Individuals</h3>
                    <p class="mb-0">With our ways, your daughter gets to attain a level of confidence that makes her stand out.</p>
                </div>
                <div class="col-12">
                    <div class="rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;" id="maroon-bg">
                        <i class="fa fa-percent fs-4 text-white"></i>
                    </div>
                    <h3>Continous Improvement</h3>
                    <p class="mb-0">Every student matters, and we always believe that with continous improvement, each and every student has to excel.</p>
                </div>
                <div class="col-12">
                    <div class="rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;" id="mainbg">
                        <i class="fa fa-award fs-4 text-white"></i>
                    </div>
                    <h3>Responsible Citizens</h3>
                    <p class="mb-0">We always strive to produce highly responsible students so they can perform future tasks with brilliance.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="d-block h-100">
                <img src="{% static 'core/images/banner.jpg' %}" style="height: 650px;">
            </div>
        </div>
        <div class="col-lg-4">
            <div class="row g-5">
                <div class="col-12">
                    <div class="rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;" id="mainbg">
                        <i class="far fa-smile-beam fs-4 text-white"></i>
                    </div>
                    <h3>Maximum Potential</h3>
                    <p class="mb-0">Here at Woodridge, one of our main goals is to maximize the potential of our students.</p>
                </div>
                <div class="col-12">
                    <div class="rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;" id="maroon-bg">
                        <i class="fa fa-user-tie fs-4 text-white"></i>
                    </div>
                    <h3>Professional Educators</h3>
                    <p class="mb-0">With our very professional staff, you can be guaranteed 100% good governance for your daughter.</p>
                </div>
                <div class="col-12">
                    <div class="rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;" id="mainbg">
                        <i class="fa fa-cubes fs-4 text-white"></i>
                    </div>
                    <h3>Social Responsibility</h3>
                    <p class="mb-0">We emphasize on the importance of social responsibility, which makes our students more responsible citizens.</p>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!-- Our Promise Start -->

{% endblock content %}