{% extends 'core/base.html' %}
{% load static %}
{% block title %} Enquiries | Woodridge Senior School {% endblock title %}
{% block content %}
<!-- Quote Start -->
<div class="container-fluid bg-secondary px-0">
    <div class="row g-0">
        {% if message %}
        <div class="text-center" id="message" style="display: block">
            <div class="alert alert-{{ messagetype }}" role="alert">
                {{ message }}
            </div>
        </div>
        {% endif %}
        <div class="col-lg-6 py-6 px-5">
            <h1 class="display-5 mb-4">Enquiries</h1>
            <p class="mb-4">Do you have any questions regarding Woodridge Senior School? Enter the details in the form below and we will review your question and get back to you as soon as possible. </p>
            <form method="POST">
                {% csrf_token %}
                <div class="row gx-3">
                    <div class="col-6">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="names" id="form-floating-2" placeholder="name@example.com" required>
                            <label for="form-floating-2">Full Names</label>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-floating mb-3">
                            <input type="number" class="form-control" name="phonenumber" id="form-floating-2" placeholder="name@example.com" required>
                            <label for="form-floating-2">Phone Number</label>
                        </div>
                    </div>
                    <div class="col-12">
                      <div class="form-floating mb-4">
                        <input type="text" class="form-control" name="query" id="form-floating-2" placeholder="name@example.com" required>
                        <label for="form-floating-2">Submit your query here</label>
                    </div>
                    </div>
                    <div class="col-12 mt-3">
                        <button class="btn btn-primary w-100 " style="height: 70px" type="submit">Submit query</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-6" style="min-height: 400px;">
            <div class="position-relative h-100">
                <img class="position-absolute w-100 h-100" src="{% static 'core/images/halfimage2.jpg' %}" style="object-fit: cover;">
            </div>
        </div>
    </div>
  </div>
  <!-- Quote End -->
{% endblock content %}