{% extends 'core/base.html' %}
{% load static %}
{% block title %} Woodridge Senior School {% endblock title %}
{% block content %}
<!-- Carousel Start -->
<div class="container-fluid p-0">
    <div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
        {% if message %}
        <div class="text-center" id="message" style="display: block">
            <div class="alert alert-{{ messagetype }}" role="alert">
                {{ message }}
            </div>
        </div>
        {% endif %}
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="w-100" src="{% static 'core/images/image10.jpg' %}" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 900px;">
                        <h5 class="text-white text-uppercase">WELCOME TO</h5>
                        <h1 class="display-1 mb-md-6 text-white">Woodridge Senior School</h1>
                        <a href="{% url 'core:about-us' %}" class="btn btn-primary py-md-3 px-md-5 me-3 rounded-pill">About Us</a>

                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="w-100" src="{% static 'core/images/image6.jpg' %}" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 900px;">
                        <h5 class="text-white text-uppercase">OUR MOTTO</h5>
                        <h1 class="display-1 text-white mb-md-5">In Pursuit Of Excellence</h1>
                        <a href="{% url 'core:admissions' %}" class="btn btn-primary py-md-3 px-md-5 me-3 rounded-pill">Admissions</a>
                        <a href="{% url 'core:enquiries' %}" class="btn btn-secondary py-md-3 px-md-5 rounded-pill">Enquiries</a>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#header-carousel"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<!-- Carousel End -->


<!-- About Start -->
<div class="container-fluid bg-secondary p-0" id="about-us">
  <div class="row g-0">
      <div class="col-lg-6 py-6 px-5">
          <h1 class="display-5 mb-4">Welcome To <span id="blue-color">Woodridge</span></h1>
          <h4 class="mb-4" id="maroon-color">We are a school that is situated along the Nyeri-Nyahururu highway.</h4>
          <p class="mb-4">Woodridge Senior School a CBC compliant and fully registered Kenyan secondary school. Our school has well-equipped science laboratories and a library. Extra-curricular activities are fully supported and we boast of a very conducive learning environment here at Woodridge.</p>
          <a href="{% url 'core:admissions' %}" class="btn py-md-3 px-md-5 rounded-pill" id="maroon-bg" style="color: white;">Apply Today</a>
      </div>
      <div class="col-lg-6">
          <div class="h-100 d-flex flex-column justify-content-center p-5" id="mainbg">
              <div class="d-flex text-white mb-5">
                  <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white text-primary rounded-circle mx-auto mb-4" style="width: 60px; height: 60px;">
                      <i class="fa fa-user-tie fs-4" id="maroon-color"></i>
                  </div>
                  <div class="ps-4">
                      <h3 id="text-light">Academic Excellence</h3>
                      <p class="mb-0">Woodridge students exceed previous expectations of what they can achieve academically, whatever their starting point.</p>
                  </div>
              </div>
              <div class="d-flex text-white mb-5">
                  <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white text-primary rounded-circle mx-auto mb-4" style="width: 60px; height: 60px;">
                      <i class="fa fa-chart-line fs-4" id="maroon-color"></i>
                  </div>
                  <div class="ps-4">
                      <h3 id="text-light">Skills Development</h3>
                      <p class="mb-0">Woodridge students understand, develop and model the skills and attributes required for a rewarding and satisfying career.</p>
                  </div>
              </div>
              <div class="d-flex text-white">
                  <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white text-primary rounded-circle mx-auto mb-4" style="width: 60px; height: 60px;">
                      <i class="fa fa-balance-scale fs-4" id="maroon-color"></i>
                  </div>
                  <div class="ps-4">
                      <h3 id="text-light">Confidence</h3>
                      <p class="mb-0">Woodridge students are confident in their heritage, self worth, unique voice and ability to make a positive difference in the world.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- About End -->


<!-- Our Offers Start -->
<div class="container-fluid pt-6 px-5">
  <div class="text-center mx-auto mb-5" style="max-width: 600px;">
      <h1 class="display-5 mb-0">What We Offer</h1>
      <hr class="w-25 mx-auto bg-primary">
  </div>
  <div class="row g-5">
      <div class="col-lg-4 col-md-6">
          <div class="service-item bg-secondary text-center px-5">
              <div class="d-flex align-items-center justify-content-center text-white rounded-circle mx-auto mb-4" style="width: 90px; height: 90px;">
                  <i class="fa fa-user-tie fa-2x" id="maroon-color"></i>
              </div>
              <h3 class="mb-3">Excellent Performance</h3>
              <p class="mb-0">By our way of doing things here at Woodridge Senior School, your student is set on an upward trend on their performance.</p>
          </div>
      </div>
      <div class="col-lg-4 col-md-6">
          <div class="service-item bg-secondary text-center px-5">
              <div class="d-flex align-items-center justify-content-center text-white rounded-circle mx-auto mb-4" style="width: 90px; height: 90px;">
                  <i class="fa fa-chart-pie fa-2x" id="blue-color"></i>
              </div>
              <h3 class="mb-3">Extracurricular Skills</h3>
              <p class="mb-0">At Woodridge, we embrace extra-curricular activities and has lots of tools to ensure that our students can put their skills into test.</p>
          </div>
      </div>
      <div class="col-lg-4 col-md-6">
          <div class="service-item bg-secondary text-center px-5">
              <div class="d-flex align-items-center justify-content-center text-white rounded-circle mx-auto mb-4" style="width: 90px; height: 90px;">
                  <i class="fa fa-chart-line fa-2x" id="maroon-color"></i>
              </div>
              <h3 class="mb-3">Ready for Work</h3>
              <p class="mb-0">Woodridge students get to learn the importance of hard work and the fruits of this important key to success.</p>
          </div>
      </div>
      <div class="col-lg-4 col-md-6">
          <div class="service-item bg-secondary text-center px-5">
              <div class="d-flex align-items-center justify-content-center text-white rounded-circle mx-auto mb-4" style="width: 90px; height: 90px;">
                  <i class="fa fa-chart-area fa-2x" id="maroon-color"></i>
              </div>
              <h3 class="mb-3">Confidence</h3>
              <p class="mb-0">Woodridge students are taught to be confident in their own ideas and how to stand for themselves.</p>
          </div>
      </div>
      <div class="col-lg-4 col-md-6">
          <div class="service-item bg-secondary text-center px-5">
              <div class="d-flex align-items-center justify-content-center text-white rounded-circle mx-auto mb-4" style="width: 90px; height: 90px;">
                  <i class="fa fa-balance-scale fa-2x" id="blue-color"></i>
              </div>
              <h3 class="mb-3">Warm Relationships</h3>
              <p class="mb-0">At Woodridge, we ensure that we maintain a good and warm relationship with our students so as to ensure smoothness in the running of the school.</p>
          </div>
      </div>
      <div class="col-lg-4 col-md-6">
          <div class="service-item bg-secondary text-center px-5">
              <div class="d-flex align-items-center justify-content-center text-white rounded-circle mx-auto mb-4" style="width: 90px; height: 90px;">
                  <i class="fa fa-house-damage fa-2x" id="maroon-color"></i>
              </div>
              <h3 class="mb-3">Succcessful Future</h3>
              <p class="mb-0">The skills that out learners develop at Woodridge prepare them for a successful transition towards their careers.</p>
          </div>
      </div>
  </div>
</div>
<!-- Our Offers End -->


<!-- Our Promise Start -->
<div class="container-fluid py-6 px-5">
  <div class="text-center mx-auto mb-5" style="max-width: 600px;">
      <h1 class="display-5 mb-0">Our Promise</h1>
      <hr class="w-25 mx-auto bg-primary">
  </div>
  <div class="row g-5">
      <div class="col-lg-4">
          <div class="row g-5">
              <div class="col-12">
                  <div class="rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;" id="mainbg">
                      <i class="fa fa-cubes fs-4 text-white"></i>
                  </div>
                  <h3>Confident Individuals</h3>
                  <p class="mb-0">With our ways, your daughter gets to attain a level of confidence that makes her stand out.</p>
              </div>
              <div class="col-12">
                  <div class="rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;" id="maroon-bg">
                      <i class="fa fa-percent fs-4 text-white"></i>
                  </div>
                  <h3>Continous Improvement</h3>
                  <p class="mb-0">Every student matters, and we always believe that with continous improvement, each and every student has to excel.</p>
              </div>
              <div class="col-12">
                  <div class="rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;" id="mainbg">
                      <i class="fa fa-award fs-4 text-white"></i>
                  </div>
                  <h3>Responsible Citizens</h3>
                  <p class="mb-0">We always strive to produce highly responsible students so they can perform future tasks with brilliance.</p>
              </div>
          </div>
      </div>
      <div class="col-lg-4">
          <div class="d-block h-100">
              <img src="{% static 'core/images/banner.jpg' %}" style="height: 650px;">
          </div>
      </div>
      <div class="col-lg-4">
          <div class="row g-5">
              <div class="col-12">
                  <div class="rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;" id="mainbg">
                      <i class="far fa-smile-beam fs-4 text-white"></i>
                  </div>
                  <h3>Maximum Potential</h3>
                  <p class="mb-0">Here at Woodridge, one of our main goals is to maximize the potential of our students.</p>
              </div>
              <div class="col-12">
                  <div class="rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;" id="maroon-bg">
                      <i class="fa fa-user-tie fs-4 text-white"></i>
                  </div>
                  <h3>Professional Educators</h3>
                  <p class="mb-0">With our very professional staff, you can be guaranteed 100% good governance for your daughter.</p>
              </div>
              <div class="col-12">
                  <div class="rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;" id="mainbg">
                      <i class="fa fa-cubes fs-4 text-white"></i>
                  </div>
                  <h3>Social Responsibility</h3>
                  <p class="mb-0">We emphasize on the importance of social responsibility, which makes our students more responsible citizens.</p>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Our Promise Start -->


<!-- Request A Tour Start -->
<div class="container-fluid bg-secondary px-0">
  <div class="row g-0">
      <div class="col-lg-6 py-6 px-5">
          <h1 class="display-5 mb-4">Request A Tour</h1>
          <p class="mb-4">Visit our school and get to enjoy the rich Woodridge experience from interacting with the learners & teachers, play activities, the amazing facilities and enjoy the healthy and delicious menu. We shall reach out to you as soon as possible and plan for a tour.</p>
          <form method="POST">
              {% csrf_token %}
              <div class="row gx-3">
                  <div class="col-6">
                      <div class="form-floating">
                          <input type="text" class="form-control" name="fullname" id="form-floating-1"required>
                          <label for="form-floating-1">Full Names</label>
                      </div>
                  </div>
                  <div class="col-6">
                      <div class="form-floating mb-3">
                          <input type="number" class="form-control" name="phonenumber" id="form-floating-2" required>
                          <label for="form-floating-2">Phone Number</label>
                      </div>
                  </div>
                  <div class="col-12">
                    <div class="form-floating mb-3">
                      <input type="text" class="form-control" name="studentname" id="form-floating-2" required>
                      <label for="form-floating-2">Student's Name</label>
                  </div>
                  </div>
                  <div class="col-12">
                      <button class="btn btn-primary w-100" style="height: 70px;" type="submit">Submit Details</button>
                  </div>
              </div>
          </form>
      </div>
      <div class="col-lg-6" style="min-height: 400px;">
          <div class="position-relative h-100">
              <img class="position-absolute w-100 h-100" src="{% static 'core/images/halfimage1.jpg' %}" style="object-fit: cover;">
          </div>
      </div>
  </div>
</div>
<!-- Request A Tour End -->
<br>
<!-- Testimonial Start -->
<div class="container-fluid bg-secondary p-0">
  <div class="row g-0">
      <div class="col-lg-6" style="min-height: 500px;">
          <div class="position-relative h-100">
              <img class="position-absolute w-100 h-100" src="{% static 'core/images/halfimage2.jpg' %}" style="object-fit: cover;">
          </div>
      </div>
      <div class="col-lg-6 py-6 px-5">
          <h1 class="display-10 mb-4">What other parents say about us</h1>
          <div class="owl-carousel testimonial-carousel">
              <div class="testimonial-item">
                  <p class="fs-4 fw-normal mb-4"><i class="fa fa-quote-left me-3" id="blue-color"></i>Wonderful school, with an excellent team. They have a brilliant team working all through to ensure productivity in the students.</p>
                  <div class="d-flex align-items-center">
                      <div class="ps-4">
                          <h3>Antony Kamau</h3>
                          <span class="text-uppercase">Parent</span>
                      </div>
                  </div>
              </div>
              <div class="testimonial-item">
                  <p class="fs-4 fw-normal mb-4"><i class="fa fa-quote-left me-3" id="blue-color"></i>High regard for their parents, pupils and all their concerns. Also loved the management, which is top-notch. Kudos Woodridge!</p>
                  <div class="d-flex align-items-center">

                      <div class="ps-4">
                          <h3>Lucy Wamweru</h3>
                          <span class="text-uppercase">Parent</span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Testimonial End -->
{% endblock content %}